<div class="w-full">
  <div class="w-full">
    <div class="w-full">
      <div class="bg-white rounded-lg shadow-sm">
        <div class="p-0"></div>
        <div class="p-6 pb-0">
          <div class="w-full">
            <div class="flex flex-wrap -mx-3">
              <div class="w-full md:w-2/3 px-3">
                <div class="mb-12">
                  <h5 class="text-lg font-medium mb-4">
                    Iniciar Nuevas Solicitudes
                  </h5>
                  <hr class="w-full border-t border-black mb-6" />

                  <div class="cards-section">
                    <div
                      class="card-custom"
                      [routerLink]="['../form',registroId ]"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="FileText"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro de nacimiento
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/partidasMatri']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="Users"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro de Matrimonio
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/unionNoMatri']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="Users"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro de Unión No Matrimonial
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/certiAutenticas']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="FileCheck"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Certificaciones y autenticas
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/defunciones']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="Clipboard"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">Registro de Defunción</h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/nacionalizados']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="BookOpen"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro de Nacionalización o Naturalización
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/defunfetales']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="FileText"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro Defunciones Fetales
                        </h6>
                      </div>
                    </div>

                    <div
                      class="card-custom"
                      [routerLink]="['/inicio/marginaciones']"
                    >
                      <div class="card-custom-body">
                        <i-lucide
                          [img]="FileText"
                          [size]="32"
                          color="#667eea"
                          class="card-icon"
                        ></i-lucide>
                        <h6 class="card-custom-title">
                          Registro de Marginaciones
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="w-full md:w-1/3 px-3 flex justify-center items-end">
                <img
                  ngSrc="assets/images/miss.png"
                  class="max-w-full h-auto miss-image"
                  alt="miss"
                  height="594"
                  width="490"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
